
body{
  background-color: #254384;
 padding:0;
  min-height: 100vh;
  /*verflow: hidden;*/
   font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  margin: 0;
  min-height: 100vh;
}



/*NAVIGATION BAR*/



ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


h2,
h3,
a {
  color: white;
}

a {
  text-decoration: none;
}



.logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;

}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #F4E4E4;
  font-size: .99em;
}

.main-nav a:hover {
  color: #406DBF;
}



.header {
  padding-top: .5em;
  padding-bottom: .5em;

  border-radius: 5px;
}


/* =================================
  Media Queries
==================================== */




@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
      .header{
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;
  }
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

}


/*HOMEPAGE PROJECTS*/
/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 77).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

@import url(https://fonts.googleapis.com/css?family=Montserrat:500);


*,
*::before,
*::after {
  box-sizing: border-box;
}



.home-page {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.title {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: white;
}

.title span {
  display: block;
}

.home-page-gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.home-gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.home-gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.home-gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
  .home-page-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .home-page-gallery,
  .home-gallery-item {
    margin: 0;
  }
}


/*PORTFOLIO GALLERY */
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 2rem 2rem;
}

.heading {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: white;
}

.heading span {
  display: block;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  /* Compensate for excess margin on outer gallery flex items */
  margin: -1rem -1rem;
}

.gallery-item {
  /* Minimum width of 24rem and grow to fit available space */
  flex: 1 0 24rem;
  /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery,
  .gallery-item {
    margin: 0;
  }
}









/*ABOUT PAGE*/

.portfolio-resume-spacing {
  margin-bottom: 2rem;
  text-align: center;
}

.portfolio-resume-wrapper {
  padding: 2rem 4rem;
  text-align: center;

}

.portfolio-resume-headshot {
  margin-bottom: 2rem;
  border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;

}

.portfolio-resume-header {
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid white;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.portfolio-resume-contact-info {
  margin-bottom: 0.75rem;
 text-align: center;
}

.portfolio-resume-contact-info a {
  color:white;
text-align: center;

}

.portfolio-resume-contact-info .fa {
  font-size: 1.4rem;
  padding-right: 0.8rem;
  vertical-align: middle;
  color: #5B5454;
text-align: center;
}


/* TEXT COLOR */
p, li{
  color: #F4E4E4;
}


/*JAPANSCAPES PROFILE PAGE*/
/* header */


.japanscapes-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.japanscapes-work {
  text-align: center;
  width: 100%;
}

.japanscapes-work img {
  margin: 1%;
  width: 65%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}



/*CITYSCAPES PROFILE PAGE*/
/* header */


.cityscape-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.cityscape-work {
  text-align: center;
  width: 100%;
}

.cityscape-work img {
  margin: 1%;
  width: 40%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}



/*MOUNTAINSCAPES PROFILE PAGE*/
/* header */


.mountainscape-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.mountainscape-work {
  text-align: center;
  width: 100%;
}

.mountainscape-work img {
  margin: 1%;
  width: 55%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}




/*JAPAN POSTCARD DESIGNS PROFILE PAGE*/
/* header */


.postcard-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.postcard-work {
  text-align: center;
  width: 100%;
}

.postcard-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}





/*GREAT WAVE PROFILE PAGE*/
/* header */


.greatwave-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.greatwave-work {
  text-align: center;
  width: 100%;
}

.greatwave-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}





/* FATE PROFILE PAGE*/
/* header */


.fate-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.fate-work {
  text-align: center;
  width: 100%;
}

.fate-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}


/* ANIME IN REAL LIFE PROFILE PAGE*/
/* header */


.anime-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.anime-work {
  text-align: center;
  width: 100%;
}

.anime-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}



/*PHOTOGRAPHY SECTION*/

/* LOST IN JAPAN PROFILE PAGE*/
/* header */


.japan-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.japan-work {
  text-align: center;
  width: 100%;
}

.japan-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}



/* PEARL OF THE ORIENT PROFILE PAGE*/
/* header */


.pearl-info{

text-align: center;
color: white;
margin-right: 150px;
margin-left: 150px;
}

profile-header {
  margin: 100px 0 200px 120px;
  text-align: center;
}




profile-header p {
  width: 60%;
  margin-top: 10px;
}



/*p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}*/


/* .work */

.pearl-work {
  text-align: center;
  width: 100%;
}

.pearl-work img {
  margin: 1%;
  width: 70%;
}

/* header2 */

.header2 {
  margin: 130px 0 80px 40px;
}

/* .work2 */
.work2 {
  width: 100%;
  text-align: center;
}

.work2 img {
  margin: 1%;
  width: 94%;
}








/*CONTACT PAGE*/
#contact {
  width: 100%;
  height: 100vh;
  background-color: #244384;
  overflow: hidden;
  padding-bottom: 200px;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  margin-bottom: 50px;
  font: 300 60px 'Lato', sans-serif;
  letter-spacing: 6px;
  color: #fff;
  margin-bottom: 25px;
}

.contact-wrapper {
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
  max-width: 800px;
}

/* Begin Left Contact Page */
.form-horizontal {
  float: left;
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, textarea {
  max-width: 400px;
  background-color: #111;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 300 14px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
  float: right;
  margin-top: 5px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
  width: 100%;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  top: 0;
  left: -20px;
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #111;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.8); ;
}

/* Begin Media Queries*/
@media screen and (max-width: 760px) {
    #contact {
        height: 1000px;
    }
  .section-header {
    font-size: 65px;
  }
  .direct-contact-container, .form-horizontal {
    float: none;
    margin: 10px auto;
  }  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {
  #contact {
    height: 1200px;
    }
  .section-header{
    font-size: 50px;
  }
  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    max-width: 340px;
    margin: 0 auto;
  }
  
  .name, .email, textarea {
    width: 280px;
  } 
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}




/* footer */
footer p {
  text-align: center;
  color: grey;
  margin: 60px auto;
}

/* Responsiveness */

@media only screen and (max-width: 991px) {
  japanscapes-info {
    text-align: center;
    margin: 100px 0 100px 30px;
  }

 japanscapes-info h1 {
    font-size: 36px;
  }

  japanscapes-info p {
    font-size: 12px;
    width: 90%;
  }

  .work img {
    margin: 2%;
    width: 90%;
  }

  .header2 {
    margin: 130px 0 40px 12px;
  }

  .header2 h1 {
    font-size: 36px;
  }

  .header2 p {
    font-size: 12px;
    width: 90%;
  }

  .work2 img {
    margin: 2%;
  }
}
